**/.bundle
**/db/*.sqlite3
**/db/*.sqlite3-journal
**/log/*.log
**/log/*.csv
**/log/*.pid
**/tmp
.DS_Store
.vscode/
**/config/database.yml
**/db/structure.sql
**/public/javascripts/translations.js
**/config/symmetric_encryption
**/public/uploads
**/public/cache
**/public/json
**/public/assets
**/public/entries
**/public/sitemap.xml
**/public/sitemap.*.xml
**/.idea
**/.ruby-version
**/.ruby-gemset
**/doc
**/.yardoc
coverage
**/.powenv
**/config/unicorn/development.rb
**/.tags
**/node_modules
**/gruntfile.js
**/package-lock.json
**/.byebug_history
**/.rakeTasks

### TUNE ####
/.idea
/node_modules
.idea
node_modules
allure-report
allure-results
video
spec/support/user.json
spec/support/service.json
./spec/support/service.json
./spec/support/user.json
public
package.json
.gitlab-ci.yml